!!! 5
%html{lang: "en"}
  = partial "layouts/head"
  %body
    = partial "layouts/icons"
    = partial "layouts/header"

    %main.row{role: "main"}
      .cell.well
        .g
          %section.g-b.g-b--m--2of3
            - if current_page.data.title
              %h1#title= current_page.data.title
            = yield

          %aside.g-b.g-b--m--1of3
            - if content_for? :aside
              = yield_content :aside

            - else
              %h3 Recent Projects
              - data.recent[0..6].each do |i|
                %p
                  %strong= i.date
                  &mdash;
                  = i.text

            .g
              .g-b.g-b--1of3.tac
                %a.icon{href: "https://github.com/aj-foster", title: "GitHub profile"}
                  <svg><use xlink:href="#icon-github"></use></svg>
              .g-b.g-b--1of3.tac
                %a.icon{href: "https://twitter.com/austin_j_foster", title: "Twitter profile"}
                  <svg><use xlink:href="#icon-twitter"></use></svg>
              .g-b.g-b--1of3.tac
                %a.icon.email{href: "#", title: "Email me"}
                  <svg><use xlink:href="#icon-email"></use></svg>

    = partial "layouts/footer"